  @{
     Layout = null;
   }
<ng-include src="'back/navbar'"></ng-include>
<div class="row" ng-controller="ServiceCtrl">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Liste des opérations</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Libellé</th>
            <th>Kilométrage</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="service in services">
            <th>{{service.Label}}</th>
              <td>{{service.KM}}</td>
            <th class="tcenter">
              <div class="btn-group">
                <a ng-click="edit(service)" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a ng-click="delete(service)" class="btn btn-danger btn-xs">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Ajouter une opération</div>
      <div class="panel-body">
        <form name="serviceForm" role="form" ng-submit="add(serviceForm)">
          <div class="form-group">
            <label for="inputserviceName">Nom</label>
            <span ng-show="serviceForm.label.$invalid && !serviceForm.label.$pristine" class="help-block error"><small>Veuillez entrer un nom d'opération.</small></span>
            <input type="text" ng-model="service.Label" name="label" class="form-control" id="inputServiceLabel" placeholder="Libellé de l'opération" required>
            </div>
            <div class="form-group">
              <label for="inputServiceKm">Kilométrage</label>
                <span ng-show="serviceForm.km.$invalid && !serviceForm.km.$pristine" class="help-block error"><small>Veuillez entrer un kilométrage pour l'opération.</small></span>
              <input type="number" ng-model="service.KM" min="0" name="km" class="form-control" id="inputServiceKm" required />
          </div>
            <div class="form-group"  ng-show="!isEdit">
              <label for="inputServiceDuration">Durée</label>
                <span ng-show="serviceForm.duration.$invalid && !serviceForm.duration.$pristine" class="help-block error"><small>Veuillez entrer une durée pour l'opération.</small></span>
              <input type="number" ng-model="service.Duration"  name="duration" class="form-control" id="inputServiceDuration"  />
          </div>
          <button ng-disabled="(!isEdit && serviceForm.$invalid)" type="submit" class="btn btn-success">{{ labelAdd }}</button>
            <button ng-show="isEdit" ng-click="cancel()" class="btn btn-danger">Annuler</button>
        </form>
      </div>
    </div>
  </div>
</div>
