@{
    Layout = null;
    ViewBag.Title = "Contact";
}
<h1>Configuration de la simulation</h1>

<div class="row" ng-controller="ConfigCtrl">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Paramètres</div>
            <div class="panel-body">
                <form name="brandForm" role="form">
                    <div class="form-group">
                        <label for="inputBeginDate">Date de commencement</label>
                        <input type="date" id="inputBeginDate" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="inputDuration">Durée</label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="range" min="1" max="100" value="1" step="1" id="rangeDuration" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="number" min="1" max="100" class="form-control" id="inputDuration" value="1" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Véhicules</label>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tabbrand" data-toggle="tab">Marque</a></li>
                            <li><a href="#tabcars" data-toggle="tab">Modèle</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tabbrand">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Marque</th>
                                            <th>Quantité</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="brand in brands | orderBy: 'Name'">
                                            <td class="text-center">{{ brand.Name }}</td>
                                            <td><input type="number" class="form-control countBrand" data-id="{{ brand.ID }}" value="0" min="0" max="100" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tabcars">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Modèle</th>
                                            <th>Quantité</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="car in cars | orderBy: ['Brand.Name','Name']">
                                            <td class="text-center"><small>{{ car.Brand.Name }}</small> {{ car.Name }} </td>
                                            <td><input type="number" class="form-control countCar" data-id="{{ car.ID }}" value="0" min="0" max="100" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Garagiste</label>
                         <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Sélection</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mechanic in mechanics | orderBy: ['Name']">
                                            <td class="text-center"><label for="{{ mechanic.Name }}">{{ mechanic.Name }}</label></td>
                                            <td><input type="checkbox" class="chxMechanic" data-idm="{{ mechanic.ID }}" id="{{mechanic.Name}}" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                     <button type="submit" ng-click="setSimu()" class="btn btn-success">Lancer la simulation</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">Résultats précédents</div>
             <div class="panel-body"></div>
          </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#rangeDuration').mousemove(function () {
            $('#inputDuration').val($(this).val());
        });

        $('#inputDuration').change(function () {
            $('#rangeDuration').val($(this).val());
        });

        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    })
</script>
